<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZKBaseModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B58E8371E768B0F00F102B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B58E84B1E768B0F00F102B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B58E8561E768B0F00F102B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
